@font-face { font-family: Gotty; src: url('gotty.ttf'); }

body {
    background-image: url(img/regal_r.png);
    background-repeat: repeat;
    font-family: Gotty, sans-serif;
    color: black;
    font-size: 22px;
    margin-top: 60px;
    margin-bottom: 70px;
}

p {
    line-height: 0.8;
}

h1 {
    font-size: 48px;
    color: #7F091F;
}

.index {
    margin: 0px;
}


ul {
    list-style-type: none;
    padding-left: 0px;
    line-height: 1;
}

a:link {
    color: #A60B28;
}

a:visited {
    color: #990A25;
}

a:hover{
    color: black;
}

a:active{
    color: #E51038;
}

.navbar-fixed-bottom {
    background-image: url(/static/img/footy.png);
    background-size: contain;
}

.nav, .navbar, .navbar-default, .navbar-fixed-top {
    background-color: #A60B28;
    font-size: 20px;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover {
    color: red;
}

.navbar-default .navbar-nav > li > a:active {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: black;
}

.carousel-inner .item a img {
    margin: auto;
    padding-bottom: 20px;
}