
{% extends 'base.html' %}

{% block title %} Tanya Regan Portfolio {% endblock %}

{% block content %}


<h1> Tanya Regan </h1>

Tanya has her eye on becoming a Full-Stack Web Developer. Prior to attending Hackbright Academy, she worked in Tech as a Support Manager, a QA Manager, an Escalation Engineer, and has worn many different hats at various start-ups. She has a great deal of experience with team management, project management and tech-to-user style writing.
Her current endeavor <a href="/gygo">Get your Geek On!</a> is a passion-project for her as an avid cosplayer, and she hopes to help everyone wear funny clothes.
Tanya is most interested in creative problem solving, and loves the challenge of coding, and the delight of getting the problem solved! She seeks a position where she can continue to develop her skill set and learn the ropes of Development.

<h2>Content links:</h2>

<a href="/techskills">Technical Skills</a><br>

<a href="/projects">Projects</a><br>

<a href="/resume">Resume</a><br>

<a href="/extracurricular">Extra Curricular</a><br>

{% endblock %}